/* ------------------------------------
  CSS Stylesheet Área do Aluno
  Author: Letícia Matos | leticiamatos.com | CERS - Complexo de Ensino Renato Saraiva
------------------------------------ */ 

/* =============================================================================
   Variables
========================================================================== */

  /* Colors */
  @cK:#111;
  @cOrange: #F46A28;
  @cC: #104471;
  @cC2: #1C70B7; 


  @cPurple:#573E98;  
  @cPurple2:#3D276B;  
  @cGreen:#0FBDAF;
  @cGreen2:#198B81;
  @cOrange2: #FCB02C;
  @cGray:#999;
  @cGray2:#555;
  @cGray3:#A6B5BD;

  @cTest:rgba(0,255,0,0.5);  
  
  /* Measures */
  @width:980px;
  .width_center{
    width: @width;
    margin-left: auto;
    margin-right: auto;
  }

  /* Fonts */
  @fontRegular: 'Open Sans', sans-serif;
  .fontRegular{
    font-family: @fontRegular;
  }
  @fontTitle: 'Noto Serif', serif;
  .fontTitle{
    font-family: @fontTitle;
    letter-spacing: 1px;
  }

/* =============================================================================
   General
========================================================================== */
.radius3 (@radius: 3px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius4 (@radius: 4px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius6 (@radius: 5px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius5top (@radius: 5px 5px 0 0){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.radius5bottom (@radius: 0 0 5px 5px){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.noRadius (@radius: none){
  border-radius:@radius !important;
  -moz-border-radius:@radius !important;
  -webkit-border-radius:@radius !important;
  -o-border-radius:@radius !important;
  -ms-border-radius:@radius !important;
}
.transition (@transition:0.6s){
  transition:@transition;
  -moz-transition:@transition;
  -webkit-transition:@transition;
  -o-transition:@transition;
  -ms-transition:@transition;
}
.noTransition (@transition:none){
  transition:@transition;
  -moz-transition:@transition;
  -webkit-transition:@transition;
  -o-transition:@transition;
  -ms-transition:@transition;
}
.noOpacity{
  opacity: 1 !important;
}
.shadow (@shadow: 3px 3px 2px rgba(0,0,0,0.3)){
  box-shadow:@shadow !important;
  -moz-box-shadow:@shadow !important;
  -webkit-box-shadow:@shadow !important;
  -o-box-shadow:@shadow !important;
  -ms-box-shadow:@shadow !important;
}
.clear{
  display: block; 
  clear: both;
}
a{ 
  color: @cC;
  .transition;
}
a:hover{
  text-decoration: none; 
  opacity: 0.6;
}
.block_wpr{
  width: 100%;
  clear: both;
  position: relative;
}
.block_cntt{
  position: relative;
  .width_center;
}
.link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Form */
.btn{
  cursor: pointer;
  border: none;
  .fontRegular;
}
.txt{
  border: none;
  .fontRegular;
}

/* Interna */
.header h1 a:hover{
  opacity: 0.9;
}
.header{
  h1{
    a{
      display: block;
      margin-top: 25px;
      position: relative;
      left: -10px;
    }
  }
  .naveg{
    height: 140px;
    text-align: right;
    background: url(../img/naveg-bg.png) right top no-repeat;
  }

  .menu_student{
    background: url(../img/nav_unlogged.png) top right no-repeat;
    padding-right: 150px;
    height: 55px;
    position: relative;
    right: -85px;
    a{
      display: inline-block;
      margin-top: 5px;
      margin-left: 20px;
      padding: 10px 0;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  /* Primary Menu */
  .menu{
    a{
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      font-size: 15px;
      margin-left: 10px;
      margin-top: 5px;
      padding: 10px 0;
      .fontTitle;
    }
    .cart{
      display: inline-block;
      vertical-align: top;
      background: url(../img/ico/cart.png) left 20px no-repeat;
      position: relative;
      padding-left: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 35px;
      font-size: 14px;
      color: @cC;
      line-height: 18px;

      .cart-link{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .menu_social{
    position: absolute;
    right: 170px;
    top: 100px;
    a{
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-left: 15px;
      background-image: url(../img/ico/social_nav.png);
    }
    a.face{
      background-position: 0 0;
    }
    a.twit{
      background-position: -25px 0;
    }
    a.inst{
      background-position: -50px 0;
    }
  }
}

/* Separators */
.separator{
  display: block;
  clear: both;
  height: 20px;
}
.separator.col4-4{
  background:url(../img/separat-col4-4.png) top center no-repeat; 
}

/* Main Content */
.main-content{
  padding-top: 10px;
  font-size: 13px;
  .content-text{
    padding-top: 10px;
    .page_subtitle{
      color: #999;
      a{color: #999;}
    }
  }
  .page_title{
    color: @cC;
    font-family: @fontTitle;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Siderbar */
.search_wpr{
  position: relative;
  width: 100%;
  height: 45px;
  .txt{
    display: block;
    background: @cC2;
    color: #fff;
    height: 45px;
    border:none;
    text-indent: 15px;
    font-size: 13px;
    width: 100%;
    padding: 0 !important;
  }
  .btn{
    width: 35px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border:none;
    background: url(../img/ico/search.png) no-repeat center center;
    overflow: hidden;
    text-indent: -200px;
  }
}
aside{
  .colunistas_wpr{
    background: #eee url(../img/separat-col1-4.png) no-repeat center 40px;
    margin-top: 15px;
  }
  .colunistas_list{
    padding: 0 10px 10px;
  }
  .colunista_item{
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    opacity: 1;
    .transition;

    .photo{
      float: left;
      display: block;
      margin: 0 8px 8px 0;
      width: 100px;
    }
    .date{
      font-size: 10px;
    }
    h4{
      color: @cC;
      padding-top: 8px;
      line-height: 16px;
      font-size: 12px;
      letter-spacing: 0 !important;
      .fontTitle;
    }
    .author{
      padding-top: 5px;
      font-size: 11px;
    }
  }
  .colunista_item:hover{
    opacity: 0.4;
  }
  .more{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #fff;
    padding: 0 10px;
    background: @cC2;
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    .fontTitle;
  }
  .adv_wpr{
    margin-top: 20px;
  }

  .highlight_wpr{
    text-align: center;
    background: url(../img/separat-col1-4.png) no-repeat center 40px;
  }
  .book_list{
    padding: 0 10px 10px;
   }
  .store_wpr{
    margin-top: 10px;
    background: url(../img/separat-col1-4.png) no-repeat center 40px;
  }
  .store_list{
    padding: 0 10px 10px;
    text-align: center;
    .title{
      padding-bottom: 10px;
    }
  }
}
.block_title{
  color: @cC;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  height: 30px;
  .fontTitle;
  padding: 10px 10px 0;
}

/* Product List */
.store_item,
.book_item{
  position: relative;
  padding-top: 20px;
  opacity: 1;
  .transition;

  .thumb{
    width: 95%;
    height: auto;
  }
  .new_tag{
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
  }
  .title{
    font-family: @fontTitle;
    color: @cC;
    font-size: 15px;
    padding-top: 10px;
    line-height: 17px;
  }
  .author{
    color: #aaa;
    font-size: 13px;
    padding-bottom: 10px;
  }
  .old-price{
    display: inline-block;
    color: #aaa;
    text-decoration: line-through;
  }
  .price{
    display: inline-block;
    padding-left: 25px;
    background: url(../img/ico/dolar.png) left center no-repeat;
    color: @cC;
    font-size: 20px;
    font-weight: 600;
  }
}
.book_item:hover{
  opacity: 0.5;
}

/* footer */
.footer{
  background: url(../img/footer_bg.png) top center no-repeat;
  height: 110px;
  margin-top: 20px;

  .logo{
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    img{
      display: block;
    }
  }
  .menu{
    padding: 25px 0 0 35px;
    font-family: @fontTitle;
    text-transform: uppercase;
    font-size: 14px;
    a{
      color: #fff;
      display: inline-block;
      padding: 5px;
    }
  }
  .copy{
    padding: 10px 0 0 55px;
    font-family: @fontTitle;
    color: #fff;
    font-size: 11px;
    font-style: italic;    
  }
  .newsletter_wpr{
    h3{
      padding-top: 30px;  
      padding-bottom: 5px;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      .fontTitle;
    }
    .txt{
      height: 20px;
      text-indent: 10px;
    }
    .btn{
      height: 20px;
      text-transform: uppercase;
      font-size: 10px;
      color: #fff;
      background: @cC;
    }
  }
}

/* Responsible Collumns */
.col1-2,
.col2-2,
.col1-3,
.col2-3,
.col3-3,
.col1-4,
.col2-4,
.col3-4,
.col4-4{
  display: block;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  .transition;
}


/* Responsive layout */
@media screen and (min-width: 0) and (max-width: 599px){}
@media screen and (min-width: 600px) and (max-width: 980px){
}
@media screen and (min-width: 980px){
  .col1-2,
  .col2-4{
    width: 48%;
  }
  .col1-4{
    width: 23%;
  }
  .col3-4{
    width: 73%;
  }
  .col1-3{
    width: 31.3333%;
  }
  .col2-3{
    width: 64.6666%;
  }
  .col2-2,
  .col4-4,
  .col3-3{
    width: 98%;
  }
}

/* Content */
body{
  font-size: 15px;
  background:url(../img/z_lixo/02interna.jpg) center top;
  .fontRegular;
}
